<div class="row">
  <div class="col-lg-6">
    <div class="center jumbotron">
      <div class="text-center">
        <h1>Welcome</h1><br>
        <h1>to the</h1><br>
        <h4>シェアハウス</h4>
        <h4>マッチングアプリ</h4>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <h2>ログイン</h2>
</div>
<br>



<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    
      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    
      <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
    
    <% end %>
    
    <p><%= link_to '新規登録の方はこちら！', signup_path %></p>
    
  </div>
</div>