<div class="row">
  <div class="col-xl-1"></div>
  <div class="col-xl-10 col-sm-12">
    <ul class="list-unstyled">
      <% @houses.each do |house| %>
        <li class="card house">
            <div class="h5 house-card blue-link"><%= link_to house.title, house_path(house.id) %></div>
            <div class="p house-card">『<%= house.special_notes.truncate(20) %>』</div>
            <div class="p house-card text-left">投稿日(<%= house.created_at.strftime('%Y/%m/%d') %>)</div>
            <div class="p house-card text-left blue-link">募集主<i class="fas fa-user"></i> <%= link_to house.user.name, user_path(house.user) %></div>
        </li>
      <% end %>
      
      <%= paginate @houses, class: 'paginate' %>
        <div class="col-xl-12 form-btn center">
          <%= link_to '同居人を募集する', new_house_path, class: 'btn btn-blue btn-block mt-3 ' %>
        </div>
    </ul>
  </div>
  <div class="col-xl-1"></div>
</div>