<div class="row">
  <div class="col-sm-6">
    <ul class="list-unstyled">
      <% @houses.each do |house| %>
        <li class="card">
          <div class="card-body">
            <div>募集主　：<%= link_to house.house.user.name, user_path(house.house.user) %></div>
            <div>申請した募集　：<%= link_to house.house.title, house_path(house.house) %></div>
            <div>申請した日　：<%= house.created_at %></div>
          </div>
        </li>
        <br>
      <% end %>
      <%= paginate @houses %>
      <%= link_to '同居募集の新規作成', new_house_path %>
    </ul>
  </div>
</div>