<div class="card">
  <ul>
    <li>募集件名：<%= @house.title %></li>
    <li>市区町村、最寄駅：<%= @house.place %></li>
    <li>物件の間取り：<%= @house.room_size %></li>
    <li>１人あたりの賃料：<%= @house.rent %></li>
    <li>性別の制限：<%= @house.gender %></li>
    <li>その他特記事項：<%= @house.special_notes %></li>
  </ul>
</div>