<div class="row">
  <div class="col-lg-6">
    <div class="card text-center">
      <%= link_to 'みんなの募集一覧', houses_path %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="card text-center">
      <%= link_to '私の募集一覧', "/users/#{current_user.id}/index" %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="card text-center">
         <%= link_to '私のお気に入り一覧', "#" %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="card text-center">
      <%= link_to '私の申請した募集一覧', "/users/#{current_user.id}/request" %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="card text-center">
      <%= link_to '私の自己紹介', "/users/#{current_user.id}" %>
    </div>
  </div>
</div>
<br>

<%= link_to '同居募集の新規作成', new_house_path %>