<div class="row">
  <div class="col-lg-6">
    <div class="center jumbotron">
      <div class="text-center">
        <h1>Welcome</h1><br>
        <h1>to the</h1><br>
        <h4>シェアハウス</h4>
        <h4>マッチングアプリ</h4>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <h2>新規登録</h2>
</div>
<br>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%# エラーメッセージ %>
    
      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.text_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（確認用）' %>
        <%= f.text_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>