<div class="row">
  <div class="col-xl-3"></div>
  <div class="col-xl-6 col-sm-12">
    <h3 class="text-center"><%= @user.name %>さんのプロフィール</h3>
    
    <p class="profile-title">ユーザー名</p>
    <div class="card text-center profile-text"><%= @user.name %></div>
      
    <p class="profile-title">メールアドレス</p>
    <div class="card text-center profile-text"><%= @user.email %></div>
      
    <p class="profile-title">年齢</p>
    <div class="card text-center profile-text"><%= @user.age %></div>
      
    <p class="profile-title">性別</p>
    <div class="card text-center profile-text"><%= @user.gender %></div>
    
    <p class="profile-title">月収</p>
    <div class="card text-center profile-text"><%= @user.income %></div>
      
    <p class="profile-title">趣味</p>
    <div class="card text-center profile-text"><%= @user.hobby %></div>
      
    <p class="profile-title">自己紹介</p>
    <div class="card profile-text2"><%= @user.special_notes %></div>
      
    <div class="form-btn">
      <% if current_user?(@user) %> 
        <%= link_to 'ユーザー情報を変更する', edit_user_path, class: 'btn btn-blue btn-block' %>
      <% end %>
    </div>
  </div>
  
  <div class="col-xl-3"></div>
  
</div>