<div class="row">
  <h2><%= @user.name %>のプロフィール</h2>
    <div class="col-lg-6">
      <div class="card text-center card-block">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <br>
      <div class="card text-center card-block">
        <h3 class="card-title"><%= @user.email %></h3>
      </div>
      <br>
      <div class="card text-center card-block">
        <h3 class="card-title"><%= @user.age %></h3>
      </div>
      <br>
      <div class="card text-center card-block">
        <h3 class="card-title"><%= @user.gender %></h3>
      </div>
      <br>
      <div class="card text-center card-block">
        <h3 class="card-title"><%= @user.hobby %></h3>
      </div>
      <br>
      <div class="card text-center card-block">
        <h3 class="card-title"><%= @user.special_notes %></h3>
      </div>
    </div>
</div>